body{
    /* background-size: cover;
    background-image: url(../images/sky.jpg); */
    background-color: rgb(56, 55, 55);
    background-image: url('../images/pngwing.com.png');
    background-size:cover;
}
a{
    color:gold;
    font-size: 40px;
    font-family: 'BroadywayFlat3D-regular';
    src: url('../fonts/BroadwayFlat3D.ttf');
    
}
iframe{
    height: 500px;
    width: 700px;
    border: solid gold 1px;
    position: relative;
    left: 600px;
    bottom: -30px;
}
header{
    text-align: center;
    font-size: 120px;
}
#header {
    background: rgb(236, 6, 52);
    color:rgb(230, 180, 54);
    font-family: 'BroadywayFlat3D-regular';
    src: url('../fonts/BroadwayFlat3D.ttf');
}